body {
  background-color: #EAF6F6;
}

h1 {
  color: #66bfbf;
}

h3 {
  color: #66bfbf;
}

hr {
  border-style: dotted none none;
  border-color: grey;
  border-width: 5px;
  width: 5%;
}

a {
  background-color: powderblue;
  transition: background-color .5s;
}

a:hover {
  background-color: gold;
}

.circular {
  border-radius: 100%;
}

a:hover {
  background-color: yellow;
}
